body {

}

.todos {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.heading {

}

.todo-items {
  list-style: none;
  padding-left: 0;
}

.item {
  display: flex;
}

.item-complete {
  text-decoration: line-through;
}
