html
  head
    title= title
  body
    form
      input(name='title')
      input(type='Submit' value='Add Todo')
    ul.todo-items
      each todo in todos
        li= todo['title'] + ': ' + todo['complete']
    script(src='jquery-3.2.0.js')
    script(src='client.js')
